{% extends 'base.html.twig' %}

{% block title %}Création d'une nouvelle saison{% endblock %}

{% block body %}
    <h1>Création d'une nouvelle saison</h1>

    {{ include('back/season/_form.html.twig') }}

    <a href="{{ path('app_back_season_index') }}" class ="btn btn-primary">Retour à la liste</a>
{% endblock %}
