{% extends 'base.html.twig' %}

{% block title %}New Movie{% endblock %}

{% block body %}
    <h1>Création d'un nouveau film / série</h1>

    {{ include('back/movie/_form.html.twig') }}

    <a href="{{ path('app_back_movie_index') }}" class="btn btn-primary">retour à la liste / Annuler les modifications</a>
{% endblock %}
