{% extends 'base.html.twig' %}

{% block title %}Modification du profil{% endblock %}

{% block body %}

<div class="container-md bg-light my-5 d-flex p-5">
    <div class="row m-auto">

        <div class="col">
            <h1>Modification du profil</h1>

            {{ include('front/user/_form.html.twig', {'button_label': 'Mise à jour'}) }}

            <a href="{{ path('default') }}" class="btn btn-primary btn-md">retour</a>

            {{ include('front/user/_delete_form.html.twig') }}
{% endblock %}
